/* .butao{
  width: 120px;
  height: 50px;
  background-color: rgb(34, 119, 67);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:14px;
  border-radius: 60px;
  color:#fff;
} */


/* .show{
  border-radius:60px;
  background-color: rgba(90, 90, 90, 0.533);

}
.excluir{
  border-radius:60px;
} */


li{
  text-decoration: none;
  text-transform: none;

  list-style: none;
  padding: 10px;
  font-size:15px;
  padding:10px;


}

.btn-light{
  color:rgb(0, 0, 0);

  border: none;

}
.btn-light:hover{
color:rgba(235, 92, 92, 0.894)
}
