

li {
  text-decoration: none;
  text-transform: none;

  list-style: none;
  padding: 10px;
  font-size: 15px;
  padding: 10px;


}

.btn-light,
#delete {
  color: rgb(0, 0, 0);

  border: none;
  border-radius: 1px;

}

#delete:hover {
  color: rgba(204, 0, 0, 0.894)
}

.form {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* width: 200px; */
  border-radius: 20px;
  /* margin-left: 800px; */
  padding: 5%;
  margin-left: 300px;



}

.busca {
  display: flex;
  justify-items: center;
  width: 30%;
  position: relative;
}

.btn-success,
#busca {

  display: inline-block;
  border: none;
  color: black;


}



.bi-search {
  position: relative;
}

#pesquisa {}

.busca {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

/* .form-control{
  display: flex;
  align-items: center;
  position:relative;
  margin-left: 800px;
  height: 40px;



} */

#salve {
  color: #fff;
  align-items: flex-end;
  margin-left: 1100px;


}

.bi-plus-circle {

  font-size: 5em;
}

.items {
  display: inline;
}

.paginas button {
  padding: 20px;
  background: none;
  margin: 10px;
  border: none;

}
