

li {
  text-decoration: none;
  text-transform: none;

  list-style: none;
  padding: 10px;
  font-size: 15px;
  padding: 10px;
}

.btn-light,
#delete {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 1px;

}

#delete:hover {
  color: rgba(204, 0, 0, 0.894)
}


.busca {
  display: flex;
  justify-items: center;
  width: 30%;
  position: relative;
}

.btn-success,
#busca {
  display: inline-block;
  border: none;
  color: black;
}



.bi-search {
  position: relative;
}


.busca {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}


#salve , .busca {
  color: #fff;
  width: 15%;
  align-items: center;
  display: inline-block;
  margin-left: 1000px;
}

.bi-plus-circle {

  font-size: 5em;
}


