

<div id="content" #content class="row" class="content">
<!--
  <table class="table">
    <a href="https://res.cloudinary.com/dhg8eimgd/image/upload/v1685448477/mxunjgaf1helltrvvsoo.jpg"></a>

  </table> -->
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://res.cloudinary.com/dhg8eimgd/image/upload/v1685448477/mxunjgaf1helltrvvsoo.jpg" class="img-fluid rounded-start" alt="logo" width="190" height="190">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-text">LISTA DE DOCUMENTOS DA MATRICULA</h5>
          <p class="card-text">NOME FANTASIA: DIMENSIVA - TECNOLOGIA - CNPJ: 26.222.835/0001-80</p>
          <p class="card-text">RAZÃO SOCIAL: DIMENSIVA - TECNOLOGIA LTDA - TELEFONE: (85)3393-6267</p>

          <p class="card-text"><small class="text-muted">Endereço: RUA TENENTE JONHAS</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="gerarPdf()">Gerar</button>
