<!-- <h2>Nome: {{nome}}</h2>
<h2>Idade:{{age}}</h2>
<h2>Profissão  {{job}}</h2>
<h2>Hobbie: {{hobbies}}</h2>
<h2>Carros: {{car.modelo}}, {{car.cor}}, {{car.placa}}</h2>
  -->
  <div>
    <h1> </h1>
      <h2>O que é um <strong>CRUD</strong>?</h2>

    <ul class="lista ">
      <li><strong>C</strong>reate</li>
      <li><strong>R</strong>ead</li>
      <li><strong>U</strong>pdate</li>
      <li><strong>D</strong>elete</li>
    </ul>
    <h3> São as 4 operações do Banco de Dados</h3>
    <h4><i>Create </i>Quando um dado no  banco é criado, através de um login,cadastro,query.</h4>

     <h5>Exemplo de query no DataBase Mysql de inserção de dados ou sejá <strong>Create</strong>:<br></h5><br>

    <p><i>"INSERT INTO developer (name, age) VALUES ('Mateus de Lima', 19);"</i> </p>
  </div>



