

.btn {

margin:10px;
}
label{
  width: 15px;
  font-size: 20px;
}

.title{
  position: flex;;
  width: 10px;

  text-align: center;
  font-size: 40px;
}
.form-control{
  border-radius: 40px;
width: 500px;

}
.card-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

#cancel{
  color:#fff;
}
#idade{
  width: 100px;
}
