<!-- <div *ngIf="onSubmit()" class="alert alert-success" role="alert">
  Um simples alerta danger. Olha só!
</div> -->
<div class="card-header">




  <div class="tela-login">
    <h2 class="title">Cadastro</h2>
    <!-- <div class="alert alert-success" role="alert">
    Um simples alerta success. Olha só!
  </div> -->

    <form [formGroup]="form" *ngIf="onCancel">


      <div class="forms-gruop"> 
        <label for="createDev">Nome</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Digite seu nome"
        required name>
        
        
        <small id="emailHelp" class="forms-txt  text-muted"></small>
        
       
      </div>

      <div class="forms-gruop">
        <label for="createDev">Idade</label>
        <input type="number" class="form-control" formControlName="age" placeholder="Digite sua idade">
        <small id="emailHelp" class="forms-txt  text-muted"></small>

      </div>
  

      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar


      </button>
      <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancelar


      </button>




    </form>




  </div>
</div>



<!-- <div *ngIf="name !== '' ">
    <p>O nome é {{name}}</p>
  </div> -->
