/* @import '/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css'; */


*{

margin: 0;
padding: 0;
font-family: Helvetica;
}

a{
  color:rgb(222, 0, 0);
  text-decoration: none;
}

li{
  text-decoration: none;

}

body{
  background-color: rgba(18, 60, 72, 0.463);
  padding-bottom:500px ;
}

body{
  border-bottom: 1px solid red;
  padding: 2em;


}

