
 *{
  box-sizing: border-box;




}

.col{
 border-bottom: solid 3px black;
 background-color: rgba(0, 0, 0, 0.218);


}
li a{
  color:black;
  /* display: inline-block; */
  text-decoration: none;
  list-style:none;
  /* border-bottom: 1px solid black; */
  height: 5px;

  /* border: solid rgb(94, 137, 89) 1px; */

}
/* .menu{
  list-style-type: none ;
  display:flex;
  justify-content: space-around;
  padding: 1em;
  position:relative;

  width: 650px;
  margin:0px;



}
 */
