<div >
<div class="container" id="cabecario">
  <h2 class="titulo"></h2>
  <!-- <img class="imagem"src="assets/6478099.png" alt="dev" > -->
  <div class="row">
    <div class="col-14">

      <nav>
        <ul class="menu">
          <li><a routerLink="/">Home</a></li>
          <li> <a routerLink="/eventos">Eventos</a></li>
          <li> <a routerLink="/if">If</a></li>
          <li> <a routerLink="/forms">login</a></li>
             </ul>
      </nav>


      <!-- <app-fist-component></app-fist-component> -->
      <!-- <app-parent-data [name] = "userName" [email] = "email"  [car] = "car"></app-parent-data> -->
      <!-- <app-directives></app-directives> -->
      <!-- <app-if-render></app-if-render>
  <app-eventos></app-eventos>
  <app-list-render></app-list-render>
  <app-pipes></app-pipes>
  <app-tow-way-binding></app-tow-way-binding> -->
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
</div>
